[*.cs]

# CS0006: Metadata file 'C:\Users\dewaldr\source\repos\BulkyBook\BulkyBook.DataAccess\obj\Debug\net6.0\ref\BulkyBook.DataAccess.dll' could not be found
dotnet_diagnostic.CS0006.severity = silent
